<section class="column column_left">
  <div class="container navigation">
    <h4>Budget tracker</h4>
    <nav id="navigation">
      <ul id="primary-nav">
        <li class="nav-item">
          <div
            class="<%= path === '/dashboard' ? 'decoration active' : 'decoration' %>"
          ></div>
          <i
            class="<%= path === '/dashboard' ? 'fa-solid fa-house active' : 'fa-solid fa-house' %>"
          ></i>
          <a
            class="<%= path === '/dashboard' ? 'active' : '' %>"
            href="/dashboard"
            >dashboard</a
          >
        </li>
        <li class="nav-item">
          <div
            class="<%= path === '/expenses' ? 'decoration active' : 'decoration' %>"
          ></div>
          <i
            class="<%= path === '/expenses' ? 'fa-solid fa-square-up-right active' : 'fa-solid fa-square-up-right' %>"
          ></i>
          <a
            class="<%= path === '/expenses' ? 'active' : '' %>"
            href="/expenses"
            >expenses</a
          >
        </li>
        <li class="nav-item">
          <div
            class="<%= path === '/incomes' ? 'decoration active' : 'decoration' %>"
          ></div>
          <i
            class="<%= path === '/incomes' ? 'fa-solid fa-money-bill-trend-up active' : 'fa-solid fa-money-bill-trend-up' %>"
          ></i>
          <a class="<%= path === '/incomes' ? 'active' : '' %>" href="/incomes"
            >incomes</a
          >
        </li>
      </ul>
      <hr />
      <ul id="secondary-nav">
        <li class="nav-item warning">
          <i class="fa-solid fa-circle-xmark"></i>
          <form action="/logout" method="POST">
            <button type="submit">Logout</button>
          </form>
        </li>
      </ul>
    </nav>
  </div>
  <div class="container pro"></div>
</section>
