<%- include('../components/head.ejs') %>
<link rel="stylesheet" href="/css/form.css" />

<body>
  <div class="container">
    <div class="wrapper">
      <% if(errorMessage) { %>
      <div class="error-msg"><%= errorMessage %></div>
      <% } %>
      <div class="title"><span>Welcome!</span></div>
      <form class="form" action="/login" method="POST">
        <div class="row">
          <label for="email" placeholder="Email Adress">Email Address</label>
          <input
            class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : ''%>"
            type="email"
            name="email"
            id="email"
            value="<%= savedInput.email %>"
          />
        </div>
        <div class="row">
          <label for="email" placeholder="password">Password</label>
          <input
            class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : ''%>"
            type="password"
            name="password"
            id="password"
            value="<%= savedInput.password %>"
          />
        </div>
        <div class="pass"><a href="/reset-password">Forgot password?</a></div>
        <div class="row">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button class="button" type="submit" value="Login">Log in</button>
        </div>
        <div class="signup-link">
          Not a member yet? <a href="/signup">Sign up</a>
        </div>
      </form>
    </div>
  </div>

  <%- include('../components/footer.ejs') %>
</body>
