<%- include('../components/head.ejs') %>
<link rel="stylesheet" href="/css/dashboard.css" />
<link rel="stylesheet" href="/css/navigation.css" />
<link rel="stylesheet" href="/css/transactions.css" />
<link rel="stylesheet" href="/css/modal.css" />

<body class="center">
  <%- include('../components/navigation.ejs') %>

  <section class="column column_middle">
    <div class="container filters">
      <button class="btn btn-primary" onclick="toggleModal()">
        Add <%= type.slice(0,-1) %>
      </button>
    </div>
    <div class="container transactions">
      <% if(transactions.length > 0) { %> <% for(let transaction of
      transactions) { %>
      <div class="container transaction-item">
        <h3 class="transaction-category"><%= transaction.item.category %></h3>
        <p class="transaction-comment"><%= transaction.item.comment %></p>
        <p class="transaction-value"><%= transaction.item.value %> PLN</p>
        <p class="transaction-date"><%= transaction.item.date %></p>
      </div>
      <% } %> <% } %>
    </div>
  </section>
  <section class="column column_right">
    <div class="container profile"></div>
  </section>

  <%- include('../components/modal.ejs') %>
</body>
<script src="/js/main.js"></script>
<%- include('../components/footer.ejs') %>
